@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('./assets/images/BackgroundImg.svg');
  background-size: cover;
}

.gradient-text{
  transition-duration: 1s;
  transition-property: all;
  transform-style: preserve-3d;
  transition-delay:100ms;
}
.gradient-text:hover {
  background: linear-gradient(90deg, #364E9D -1.03%, #794897 53.5%, #DB3F8F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 80px;
    color: #fff;
}
.line{
  display: none;
}
.line.show {
  display: block;
}
/* .marqueediv {
  animation: marquee1 8s linear infinite;
}

@keyframes marquee1 {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
} */
.transition-text {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
  visibility: hidden;

}

.circle:hover .transition-text {
  opacity: 1;
  visibility: visible;
}
