@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  background-image: url('./assets/images/grad&startbg.png');
  background-size: cover;
scroll-behavior:smooth
}

.gradient-text{
  transition-delay:2s;
  transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-size: 200% 100%;
  background-position: 100%;
}
.gradient-text:hover {
  background: linear-gradient(90deg, #364E9D -1.03%, #794897 53.5%, #DB3F8F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: 3%;
  
}
.heading--text{
  transition-delay:2s;
  transition: all 0.8s cubic-bezier(0.000, 0.000, 0.230, 1);
}
.heading--text:hover{
  background: black;
  border: black;
}

.gradient-text:hover span {
  background: radial-gradient(circle, #F7CC21 17.9%, #DB3F8F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 80px;
    color: #fff;
}
.line{
  display: none;
}
.line.show {
  display: block;
}

/* Nav link underline effect */
.navLink{
  background: linear-gradient(90deg, #364E9D -1.03%, #794897 53.5%, #DB3F8F 100%);
}


/* .marqueediv {
  animation: marquee1 8s linear infinite;
}

@keyframes marquee1 {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
} */
.transition-text {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
  visibility: hidden;

}

.circle:hover .transition-text {
  opacity: 1;
  visibility: visible;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 2px #0D152C; 
  background-color: #0D172E;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-blend-mode: color-burn; 
}
/* Float animation */
@keyframes floatAnimation {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-5px, -5px) rotate(5deg) scale(1.02);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.float{
  animation: floatAnimation 3s ease-in-out infinite;
}
