@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  background-image: url('./assets/images/BGFINALFINAL.png');
  /* background: #494949; */
  background-size: cover;
scroll-behavior:smooth
}
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  transition: all ease-in-out 400ms;
}

.gradient-text:hover {
  background: linear-gradient(90deg, #DB3F8F -1.03%, #794897 53.5%, #364E9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all linear 400ms;
}
.heading--text{
  transition: all 500ms ease-in-out;
}
.heading--text:hover{
  background: black;
  border: black;

  
}

.gradient-text:hover span {
  background: radial-gradient(circle, #F7CC21 17.9%, #DB3F8F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all ease-in-out 400ms;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 80px;
    color: #fff;
}
.line{
  display: none;
}
.line.show {
  display: block;
}

/* Nav link underline effect */
.navLink{
  background: linear-gradient(90deg, #364E9D -1.03%, #794897 53.5%, #DB3F8F 100%);
}


.transition-text {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
  visibility: hidden;

}

.circle:hover .transition-text {
  opacity: 1;
  visibility: visible;
}



/* Remove ScrollBar */ 
  ::-webkit-scrollbar {
    display: none;
  }
 
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    
      /* Join Button Animation */
      .button-animation {
        font:  25px consolas;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 8px 8px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        transition: 0.2s;

    }
    
    .button-animation span {
        position: relative;
        z-index: 0;
        color: #fff;
    }
    
    .button-animation .liquid {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: 200px;
        background: #022D6D;
        box-shadow: inset transparent;
        z-index: -1;
        transition: 0.6s;
    }

   
    
    .button-animation .liquid::after,
    .button-animation .liquid::before {
        position: absolute;
        content: "";
        width: 200%;
        height: 200%;
        top: 0;
        left: 0;
        transform: translate(-25%, -75%);
    }
    
    .button-animation .liquid::after {
        border-radius: 45%;
        background: rgba(20, 20, 20, 1);
        box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
        animation: animate 5s linear infinite;
        opacity: 0.8;
    }
    
    .button-animation .liquid::before {
        border-radius: 40%;
        box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
            inset 0 0 5px rgba(26, 26, 26, 0.5);
        background: rgba(26, 26, 26, 0.5);
    
        animation: animate 7s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: translate(-25%, -75%) rotate(0);
        }
        100% {
            transform: translate(-25%, -75%) rotate(360deg);
        }
    }
    .button-animation:hover .liquid {
        top: -80px;
    }
    
    .button-animation:hover {
        box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
        transition-delay: 0.2s;
    }